#trends-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #fff;
  }
  #trends-box:hover {
    background: #e2e2e2c4;
  }
  #trends-left-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    padding-left: 15px;
  }
  #title-trends {
    font-weight: bold;
    color: #383838;
    font-size: 30px;
  }
  #trending {
    font-size: 15px;
    color: #171010;
    padding-bottom: 10px;
  }
  #tweet-number {
    font-size: 15px;
    color: #010000;
    margin-top: 10px;
  }
  #hashpage{
    background: rgb(57, 81, 101);
    border: 1px solid #fff;
  }